* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #111;
  font-family: Georgia, "Times New Roman", serif;
}

.container {
  max-width: 680px;
  margin: 80px auto;
  padding: 0 24px;
}

h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 36px 0;
}

p {
  font-size: 17px;
  line-height: 1.65;
  margin: 0 0 22px 0;
}

.record-meta {
  margin-top: 48px;
  font-size: 13px;
  color: #666;
}
